.container {
    width: calc(100vw - 530px);
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
    min-height: 60vh;
    display: flex;  
    flex-direction: column;
    height: calc(100vh - 180px);
    overflow-y: scroll;
    scrollbar-width: none;
    margin:0;
    padding:0;
}

