.homePage {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 1rem;
  
}

.main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  position:fixed;
  top: 64px;
  width: 100%;
}

 