.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: var(--color-bg-paper);
  box-shadow: 0 1px 2px var(--color-shadow-lg);
  z-index: 100;
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.brand:hover {
  background-color: var(--color-overlay-stronger);
}

.logo {
  height: 75px;
  width: auto;
  filter: brightness(0) invert(1);
}

.name {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-text);
}

.signOutButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 9999px;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.signOutButton:hover {
  background-color: var(--color-primary-light-2);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  color: var(--color-text-dark);
  font-size: 0.9rem;
  font-weight: 500;
}

.header.mobile .container {
  padding: 0 0.5rem;
  justify-content: flex-start;
}
