.tagPage {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 1rem;
}

.main {
  padding: 1rem;
  position: fixed;
  top: 64px;
  width: 100%;
  left: 0;
  right: 0;
}

.mainDesktop {
  width: 100%;
  padding: 0;
}