.tagPage {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  padding-top: 1rem;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  position:fixed;
  top: 64px;
  width: 100%;
} 

.mainDesktop {
  width: 400px;
  padding: 0;
  top: 50px
}