.tagPage {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding-top: 1rem;
}

.header {
  padding: 1rem;
  border-bottom: 1px solid #2f3336;
}

.main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  position:fixed;
  top: 64px;
  width: 100%;
} 